{%- import_yaml 'salt/core/saltstack/defaults.yaml' as defaults %}
{%- import_yaml 'salt/core/saltstack/installmap.yaml' as installmap %}


{%- set saltstack = salt['grains.filter_by'](defaults, grain='kernel', base='default',
  merge=salt['grains.filter_by'](installmap, grain='vscode-anywhere:profile',
    merge=salt['pillar.get']('vscode-anywhere:saltstack_core', {})
  )
) %}