{%- import_yaml 'salt/modules/puppet/defaults.yaml' as defaults %}
{%- import_yaml 'salt/modules/puppet/installmap.yaml' as installmap %}


{%- set puppet = salt['grains.filter_by'](defaults, grain='kernel', base='default',
  merge=salt['grains.filter_by'](installmap, grain='vscode-anywhere:profile',
    merge=salt['pillar.get']('vscode-anywhere:puppet', {})
  )
) %}