{%- import_yaml 'salt/modules/saltstack/defaults.yaml' as defaults %}
{%- import_yaml 'salt/modules/saltstack/profilemap.yaml' as profilemap %}


{%- set saltstack = salt['grains.filter_by'](defaults, grain='kernel', base='default',
  merge=salt['grains.filter_by'](profilemap, grain='vscode-anywhere:profile',
    merge=salt['pillar.get']('vscode-anywhere:saltstack', {})
  )
) %}