{%- import_yaml 'salt/modules/python3/defaults.yaml' as defaults %}
{%- import_yaml 'salt/modules/python3/profilemap.yaml' as profilemap %}


{%- set python3 = salt['grains.filter_by'](defaults, grain='kernel', base='default',
  merge=salt['grains.filter_by'](profilemap, grain='vscode-anywhere:profile',
    merge=salt['pillar.get']('vscode-anywhere:python3', {})
  )
) %}