{%- import_yaml 'salt/modules/python2/defaults.yaml' as defaults %}
{%- import_yaml 'salt/modules/python2/profilemap.yaml' as profilemap %}


{%- set python2 = salt['grains.filter_by'](defaults, grain='kernel', base='default',
  merge=salt['grains.filter_by'](profilemap, grain='vscode-anywhere:profile',
    merge=salt['pillar.get']('vscode-anywhere:python2', {})
  )
) %}