{%- import_yaml 'salt/modules/restructuredtext/defaults.yaml' as defaults %}
{%- import_yaml 'salt/modules/restructuredtext/installmap.yaml' as installmap %}


{%- set restructuredtext = salt['grains.filter_by'](defaults, grain='kernel', base='default',
  merge=salt['grains.filter_by'](installmap, grain='vscode-anywhere:profile',
    merge=salt['pillar.get']('vscode-anywhere:restructuredtext', {})
  )
) %}