{%- import_yaml 'salt/core/env/defaults.yaml' as defaults %}
{%- import_yaml 'salt/core/env/installmap.yaml' as installmap %}


{%- set env = salt['grains.filter_by'](defaults, grain='kernel', base='default',
  merge=salt['grains.filter_by'](installmap, grain='vscode-anywhere:install_type',
    merge=salt['pillar.get']('vscode-anywhere:env', {})
  )
) %}