{%- import_yaml 'salt/core/git/defaults.yaml' as defaults %}
{%- import_yaml 'salt/core/git/profilemap.yaml' as profilemap %}


{%- set git = salt['grains.filter_by'](defaults, grain='kernel', base='default',
  merge=salt['grains.filter_by'](profilemap, grain='vscode-anywhere:profile',
    merge=salt['pillar.get']('vscode-anywhere:git_core', {})
  )
) %}